<div class="program py-3">
  {% for piece in page.program %}
    <div class="pb-2">
      <div class="d-flex justify-content-between">
        <div>{{ piece.composer }}</div>
        <div><em>{{ piece.title }}</em> {% if piece.year == nil %}{% else %}({{ piece.year }}){% endif %}</div>
      </div>
      <div class="d-flex justify-content-center">{{ piece.instrumentation }}</div>
      {% if piece.extra == nil %}
      {% else %}
        <div class="d-flex justify-content-center">{{ piece.extra }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>
