---
layout: page
title: deep in liquid indigo
---

{% assign work = "deep in liquid indigo" %}

{% for entry in site.data.works %}
  {% if entry.Title == work %}

    {% if entry.Score == null %}

      <div class="row work">
        <div class="col-md-12">

          {% include music-title.html %}

          {% include music-audio.html %}

          {% include music-program-notes.html %}

        </div>
      </div>

    {% else %}

    <div class="row work">
      <div class="col-md-7">

        {% include music-title.html %}

        {% include music-audio.html %}

        {% include music-program-notes.html %}

      </div>

      <div class="col-9 col-md-5 pb-4 pb-md-0 mx-auto">

        {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-1.png" %}
        {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-2.png" %}
        {% include music-score.html hidden="N" file="deep-in-liquid-indigo-3.png" %}
        {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-4.png" %}
        {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-5.png" %}
        <!-- {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-6.png" %} -->
        <!-- {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-7.png" %} -->
        <!-- {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-8.png" %} -->
        <!-- {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-9.png" %} -->
        {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-10.png" %}
        {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-11.png" %}
        {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-12.png" %}
        <!-- {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-13.png" %} -->
        <!-- {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-14.png" %} -->
        <!-- {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-15.png" %} -->
        <!-- {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-16.png" %} -->
        <!-- {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-17.png" %} -->
        {% include music-score.html hidden="Y" file="deep-in-liquid-indigo-18.png" %}

      </div>

    </div>

    {% endif %}

    {% include music-perf-list.html %}

  {% else %}
  {% endif %}
{% endfor %}
