---
layout: page
title: the view from here
---

{% assign work = "the view from here" %}

{% for entry in site.data.works %}
  {% if entry.Title == work %}

    {% if entry.Score == null %}

      <div class="row work">
        <div class="col-md-12">

            {% include music-title.html %}

            {% include music-audio.html file="tvfh-mvmt1" name="I. drones and swells of the not far road (skyline drive)" %}
            {% include music-audio.html file="tvfh-mvmt2" name="II. a point off in the blue woods (big meadows)" %}
            {% include music-audio.html file="tvfh-mvmt3" name="III. moving points in the hooves and feet of animals (hawksbill)" %}

            {% include music-program-notes.html %}

        </div>
      </div>

    {% else %}

    <div class="row work">
      <div class="col-md-7">

        {% include music-title.html %}

        {% include music-audio.html file="tvfh-mvmt1" name="I. drones and swells of the not far road (skyline drive)" %}
        {% include music-audio.html file="tvfh-mvmt2" name="II. a point off in the blue woods (big meadows)" %}
        {% include music-audio.html file="tvfh-mvmt3" name="III. moving points in the hooves and feet of animals (hawksbill)" %}

        {% include music-program-notes.html %}

      </div>

      <div class="col-9 col-md-5 pb-4 pb-md-0 mx-auto">

        {% include music-score.html hidden="Y" file="the-view-from-here-00.png" %}
        {% include music-score.html hidden="Y" file="the-view-from-here-01.png" %}
        {% include music-score.html hidden="N" file="the-view-from-here-02.png" %}
        {% include music-score.html hidden="Y" file="the-view-from-here-03.png" %}
        {% include music-score.html hidden="Y" file="the-view-from-here-04.png" %}
        {% include music-score.html hidden="Y" file="the-view-from-here-05.png" %}
        {% include music-score.html hidden="Y" file="the-view-from-here-06.png" %}
        {% include music-score.html hidden="Y" file="the-view-from-here-07.png" %}
        {% include music-score.html hidden="Y" file="the-view-from-here-08.png" %}
        {% include music-score.html hidden="Y" file="the-view-from-here-09.png" %}

      </div>

    </div>

    {% endif %}

    {% include music-perf-list.html %}

  {% else %}
  {% endif %}
{% endfor %}
